body {
  font-family: "Nyasha Sans";
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__logo {
  width: 100px;
  height: 100px;
  display: block;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding-top: 20px;
}
.header__btn {
  margin-left: auto;
  color: #000;
  font-size: 18px;
  line-height: normal;
  border: 2px solid #000;
  background: var(--yellow, #ffe249);
  padding: 16px 32px;
}
.header__link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__burger {
  display: none;
}

.glav__content {
  background-image: url(hero-bg.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.glav__title {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.glav__title span {
  color: #ff69ca;
}
.glav__box {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 260px;
  padding-left: 50px;
}
.glav__text {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 50px;
}
.glav__btn {
  color: #000;
  font-size: 18px;
  line-height: normal;
  border: 2px solid #000;
  background: var(--yellow, #ffe249);
  padding: 16px 32px;
}

.about {
  padding: 50px 0;
}
.about__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 150px 30px;
  justify-content: center;
  margin-top: 100px;
}
.about__card {
  max-width: 400px;
  width: 100%;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000;
  text-align: center;
  padding: 30px 15px;
}
.about__card.card1 {
  background: linear-gradient(0deg, #ee75ab 0%, #ee75ab 100%), #fff;
}
.about__card.card2 {
  background: linear-gradient(0deg, #92ccfe 0%, #92ccfe 100%), #fff;
}
.about__card.card3 {
  background: linear-gradient(0deg, #ffe249 0%, #ffe249 100%), #fff;
}
.about__card.card4 {
  background: linear-gradient(0deg, #92ccfe 0%, #92ccfe 100%), #fff;
}
.about__card.card5 {
  background: linear-gradient(0deg, #ee75ab 0%, #ee75ab 100%), #fff;
}
.about__card-title {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
}
.about__text {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.teachers {
  background: var(--yellow, #ffe249);
  padding: 50px 0;
}
.teachers__wrap {
  margin-top: 300px;
  gap: 300px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 150px 30px;
  justify-content: center;
  margin-top: 100px;
}
.teachers__card {
  background: white;
  max-width: 400px;
  width: 100%;
  border: 2px solid #000;
  box-shadow: 4px 4px 0px 0px #000;
  text-align: center;
  padding: 30px 15px;
}
.teachers__name {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0;
}
.teachers__text {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 50px;
}

@media (max-width: 900px) {
  .header__nav {
    flex-wrap: wrap;
  }
  .header__btn {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .glav__title {
    font-size: 35px;
  }
}/*# sourceMappingURL=style.css.map */